* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

h1 {
    border-bottom: solid 2px #008cff;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;

}

.hcenter {
    display: flex;
    align-items: center;
    gap: 3px;
}

.hcenter #icone {
    width: 7.3rem;
    height: 7.3rem;
    border-radius: 2rem;
    gap: 10px;

}

.hcenter #iconeUser {
    width: 2rem;
    height: 2rem;
}

.hcenter #iconeCarrinho {
    width: 2rem;
    height: 2rem;
}

.hcenter label input {
    width: 400px;
    border-radius: 5px;
    height: 1.7rem;
}


.hcenter a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
}

header h1 {
    margin: 0;
    justify-content: center;
    background-color: #008cff;
    height: auto;
    text-align: center;
    color: #ffffff;
    font-size: 1em;

}


nav {
    background-color: #008cff;
    padding: 10px;
    height: 40px;
    justify-content: center;
    align-items: center;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav ul li {
    margin: 0 15px;
}


nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}


nav ul li a:hover {
    background-color: #008cff;
}

section {
    margin: 0px 10%;
}

#cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(255, 255, 255);
    border: solid 1px #b9b9b9;
    border-radius: 7px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    align-self: stretch;
    flex: content;
    box-sizing: content-box;
    transition: transform 0.3s, box-shadow 0.3s;
    flex-basis: 18%;
    flex-grow: 1;
    flex-shrink: 1;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card input {
    width: 170px;
    height: 2.3em;
    color: #ffffff;
    background-color: #008cff;
    border-radius: 5px;
    border: none;
}

.card input:hover {
    background: #4668f3;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #c6c6c6;
}

h4 {
    font-weight: normal;
    font-size: 0.95em;
}

@media screen and (max-width: 480px) {
    header .hcenter {
        font-size: 24px;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 10px;
    }
}

@media screen and (min-with: 481px) and (max-width: 768px) {
    header .hcenter {
        font-size: 28px;
    }

    nav ul li {
        margin: 0 10px;
    }

    section {
        padding: 15px;
    }
}

@media screen and (min-width: 769px) {
    header .hcenter {
        font-size: 36;
    }

    nav ul li {
        margin: 0 20px;
    }

    section {
        padding: 20px;
    }
}