body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.hcenter {
    display: flex;
    align-items: center;
    margin: 0 20px;
    gap: 2px;
}


.hcenter #icone {
    width: 7.3rem;
    height: 7.3rem;
    border-radius: 2rem;
    margin: 0 60% 0 0;
}


.hcenter #iconeUser {
    width: 2rem;
    height: 2rem;

}


.hcenter #iconeCarrinho {
    width: 2rem;
    height: 2rem;
}

.hcenter label input {
    width: 400px;
    border-radius: 10px;
    height: 1.7rem;
}


.hcenter a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
}

header h1 {
    margin: 0;
    justify-content: center;
    background-color: #008cff;
    height: auto;
    text-align: center;
    color: #ffffff;
    font-size: 1em;

}


nav {
    background-color: #008cff;
    padding: 10px;
    height: 40px;
    justify-content: center;
    align-items: center;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav ul li {
    margin: 0 15px;
}


nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}


nav ul li a:hover {
    background-color: #008cff;
}


#cards1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

.card1 {
    background-color: whitesmoke;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    flex: 1;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 200px;

}

.card1 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#cards {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;


}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    align-self: stretch;
    flex: content;
    box-sizing: content-box;
    transition: transform 0.3s, box-shadow 0.3s;
    flex-basis: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card input {
    width: 170px;
    height: 2.3em;
    color: #ffffff;
    background-color: #008cff;
    border-radius: 5px;
    border: none;

}

.card input:hover {
    background: #4668f3;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px #c6c6c6;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.ftop {
    display: flex;
    gap: 25px;
    background-color: #ffcc25;
    padding: 20px 15%;
    flex-direction: row;
    flex-wrap: wrap;
}

.fmeadle {
    display: flex;
    padding: 20px 15%;
    flex-direction: row;
    gap: 100px;

}

.fmeadle ul li {
    list-style-type: none;
}

.foend {
    background-color: #ffcc25;
    text-align: center;
    padding: 5px;
    bottom: 0;
}

.ftop input {
    height: 40px;
    border: none;
    border-radius: 0.8rem;
}

.ftop label {
    font-size: 1em;
}

#buttonCadastrar {
    cursor: pointer;
    width: 20%;
    background-color: #008cff;
    color: #ffffff;
    font-size: 1rem;
    padding: 5px;
    height: 50px;
    margin-right: 10%;
}

#email {
    padding: 5px;
    width: 40%;
    margin-left: 4   0px;

}

p{
    font-size: 1.5rem;
}

h4 {
    font-size: 0.95em;
}

h1 {
    border-top: solid 2px #000000;
    padding: 0px 30px;
}

h3 {
    margin: 0px 30px;
}

#checkbox{
    margin: 0;
}